/* Default dark theme */
/*
    <metadata>
        {
            "Id": "9974776c20cf40b7b93bdf92eac670ad",
            "Name": "Default Dark",
            "CreatorId": 0,
            "CreatorName": "Anghami",
            "Description": "The default Anghami dark theme",
            "Version": "1.0",
            "IsBuiltIn": true
        }
    </metadata>
*/

:root {
    --nav-bg: #2b2d2f;
    --nav-border: 1px solid #2b2d2f;
    --header-bg: #1b1c1d;
    --header-border: 1px solid #2b2d2f;
    --app-background: #2e2e2e;
    --main-background: #1b1c1d;
    --app-borders: #333;
    --sidebar-background: #272727;
    --light-background: #1b1b1b;
    --gray-light-background: #3b3b3b;
    --text-color: #e8e8e8;
    --list-item-hover: #0F0F0F;
    --list-item-shadow: #393939;
    --text-color-dark: #919191;
    --bg-white-secondary: #E2E2E2;
    --bg-white-secondary-2: #3c3c3c;
    --table-cell-border-bottom: 1px solid #323232;
    --table-cell-hover-shadow: 0px 0px 20px #0000004A;
    --subtitle: #efefef;
    --date-info: #efefefb8;
    --semi-dark-border: #292929;
    --default-border-color: #3c3c3c;
    --light-white: #323232;
    --placeholder-background: #606060;
    --error: red;
    --toastr-bg: #3B3B3B;
    --toastr-border: #3B3B3B;
    --toastr-text: #000;
    --toastr-btn-bg: #fff;
    --player-separator: rgba(112,112,112, .4);
    --context-header: #2c2c2c;
    --player-background: #000000;
    --player-box-shadow: #4e4e4e57;
    --pref-box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, .15);
    --track-shadow: 0px 1px 8px 0px #080808;
    --search-item-shadow: 0px 0px 20px 5px #080808;
    --search-color: #fff;
    --search-placeholder: #a2a2a2;
    --hr-light: #515050;
    --scroll-bar-thumb: #ddd;
    --bg-question-color: #404040;
    --login-arrow-down: url(https://cdnweb.anghami.com/web/assets/icons/all/arrow-down-white.svg);
    --video-icon-background: #f7f9fa;
    --download-bar-container: #5c5c5c;
    --ang-top-bg: #575757;
    --border-light: #4e4e4e;
    --close-bgd: #5f5f5f;
    --border-shadow-border: #3a3838;
    --hr-box: #2f2e2e;
    --slider-border: #707070;
    --search-tag-bg: #414141;
    --vibes-tag-bg: #4b4b4b;
    --vibes-tag-selected-bg: #e9e9e9;
    --active-tab-background: #E5E5E5;
    --active-tab-color: #2E2E2E;
    --light-gray-backgorund: #333536;
    --context-sheet-action-hover: #595D5F;
    --vibes-background: #646464;
    --vibes-foreground: #e5e5e585;
    --chats-background: #212121;
    --chats-container-border: #454545;
    --chats-text-input: #000000;
    --chats-text-input-border: #404040;
    --chats-text-focused: #525252;
    --chats-attachement-background: #393939;
    --chats-attachement-border: #4B4D53;
    --chats-scroller-background: #474950;
    --chats-scroller-thumb: rgb(37, 41, 44);
    --semi-transparent-background: rgba(27, 27, 27, .9);
    --active-tab-border: rgba(255, 255, 255, .3);
    --upload-music-banner-bg-img: url(https://cdnweb.anghami.com/web/assets/img/upload-music/banner-bg-dark.png);
    --upload-music-banner-files-uploaded-bg: url(https://cdnweb.anghami.com/web/assets/img/upload-music/files-uploaded-dark.png);
    --upload-music-song-placeholder: url(https://cdnweb.anghami.com/web/assets/img/upload-music/upload-image-song-placeholder-dark.png);
    --brand-logo: url(https://cdnweb.anghami.com/web/assets/img/logos/New_Logo_Dark@2x.png);
    --brand-logo-ar: url(https://cdnweb.anghami.com/web/assets/img/logos/NEW_LOGO_VERTICAL_COLORED_AR.png);
    --text-color-light: var(--text-color-dark);
    --buttons-color-light: #d6d6d6;
    --dark-white: var(--app-borders);
    --light-gray: var(--app-borders);
    --title: var(--text-color);
    --dark-mode-purple: var(--text-color);
    --darkMode-text-color: var(--text-color);
    --gray-shadow: 0px 1px 8px 0px var(----list-item-shadow);
    --default-item-border: 1px solid var(--semi-dark-border);
    --default-item-border-track: 1px solid var(--semi-dark-border);
    --track-hover: var(--light-background);
    --purple-alertnate: var(--text-color-dark);
    --navbar-selected-bg-color: #404246;
    --checkbox-checked-background: var(--placeholder-background);
    --checkbox-circle-background: var(--text-color);
    --checkbox-unchecked-background: var(--light-background);
    --input-background: var(--light-background);
    --grey-text-color: var(--text-color-dark);
    --navbar-icon: var(--app-secondary-grey);
    --navbar-icon-selected: var(--text-color);
    --language-selector: var(--text-color);
    --btn-border-color: var(--app-secondary-grey);
    --app-secondary-grey: var(--text-color-dark);
    --more-icon: var(--text-color);
    --user-navigation-darkmode-background: var(--context-header);
    --user-navigation-background: var(--light-white);
    --user-navigation-shadow: var(--input-background);
    --menu-tooltip: var(--text-color);
    --video-headers: var(--text-color);
    --pref-header-background: var(--player-background);
    --video-item-sub: var(--app-secondary-grey);
    --hashtags-color: var(--text-color);
    --ang-btn-color: var(--btn-border-color);
    --inbox-message: var(--app-secondary-grey);
    --arrow-background: var(--light-background);
    --arrow-border: var(--light-white);
    --arrow-color: var(--text-color);
    --search-background: var(--light-white);
    --search-input-background: #4c4c4c;
    --ang-plus-p-tag: var(--text-color);
    --ang-plus-a-tag: var(--text-color);
    --gray-text-color: var(--text-color);
    --empty-pages-btn: var(--gray-text-color);
    --checkmark-checked: var(--app-background);
    --checkmark-border: var(--app-background);
    --input-light-gray: var(--hr-light);
    --modal-head-light: var(--gray-light-background);
    --confirm-btn-border: var(--gray-light-background);
    --explicit-bg: var(--text-color);
    --explicit-text: var(--input-background);
    --video-icon-border: 1px solid var(--placeholder-background);
    --active-tab: var(--text-color);
    --video-icon-color: var(--search-color);
    --video-icon-2-color: var(--input-background);
    --modal-header-background: var(--light-background);
    --download-bar-fill: var(--text-color);
    --download-icon-color: var(--text-color-dark);
    --close-dark-gray: var(--text-color);
    --dark-gray-updated: var(--text-color-dark);
    --slider-background: var(--text-color-dark);
    --search-header-bg: var(--player-background);
    --search-header-color: var(--text-color);
    --search-tag-hover: var(--text-color);
    --recent-search-icon-bg: var(--search-tag-bg);
    --upload-music-banner-bg: var(--light-background);
    --upload-music-banner-border: var(--placeholder-background);
    --upload-music-separator-color: var(--light-white);
    --upload-music-box-shadow-color: var(--app-background);
    --placeholder-primary: #2b2d2f;
    --placeholder-secondary: #35373b;
    --light-gray-background-text: var(--search-color);
    --album-equalizer-background: var(--search-color);
    --wrap-border-gray: var(--text-color-dark);
    --box-border: var(--light-background);
    --suggestion-background: var(--app-borders);
    --suggestion-border: transparent;
    --borderline: #2f2f2f;
    --inbox-hover: var(--light-background);
    --inbox-shadow: 2px 1px 8px 2px rgba(199, 199, 199, .1);
    --library-likes: url(https://cdnweb.anghami.com/web/assets/icons/all/library_likes_dark.svg);
    --library-downloads: url(https://cdnweb.anghami.com/web/assets/icons/all/library_downloads_dark.svg);
    --library-recently: url(https://cdnweb.anghami.com/web/assets/icons/all/library_recently_dark.svg);
    --library-foryou: url(https://cdnweb.anghami.com/web/assets/icons/all/library_foryou_dark.svg);
    --library-playlists: url(https://cdnweb.anghami.com/web/assets/icons/all/library_playlists_dark.svg);
    --library-albums: url(https://cdnweb.anghami.com/web/assets/icons/all/library_albums_dark.svg);
    --library-artists: url(https://cdnweb.anghami.com/web/assets/icons/all/library_artists_dark.svg);
    --library-followedshows: url(https://cdnweb.anghami.com/web/assets/icons/all/library_followedshows_dark.svg);
    --library-newpodcasts: url(https://cdnweb.anghami.com/web/assets/icons/all/library_newpodcasts_dark.svg);
    --live-concert-comments-background: #262626;
    --live-concert-comment-header-shadow: #00000034;
    --live-concert-members-count-border: #ffffff20;
    --live-member-count-font-color: #5D6064;
    --live-feeds-background: #262626;
    --live-colored-comment: #ffffff0a;
    --live-comment-input-background: #2B2D2F;
    --live-comment-input-border-color: #35373B;
    --live-comment-input-placeholder: #777A7E;
    --live-button-default-background: rgba(64, 64, 64, .5);
    --live-invite-friends-button-background: rgba(255, 255, 255, .05);
    --live-badge-image: url(https://cdnweb.anghami.com/web/assets/img/concert/live-badge-dark-en.png);
    --live-badge-image-ar: url(https://cdnweb.anghami.com/web/assets/img/concert/live-badge-dark-ar.png);
    --live-badge-height: 2em;
    --live-badge-width: 5.125em;
    --live-members-container-bg: rgba(255,255,255,.11);
    --live-brod-search-shadow: 0px 3px 10px #00000048;
    --live-brod-search-background: #292929;
    --live-brod-header-shadow: 0px 7px 13px #00000034;
    --live-feed-seperating-line: 1px solid rgba(255, 255, 255, .05);
    --live-name-selected-bg: #e8e8e8;
    --live-name-border: 1px solid rgba(112,112,112,.17);
    --live-name-bg: #000000;
    --live-name-color: #ffffff;
    --live-name-color-selected: black;
    --live-dialog-bg: #1B1B1B;
    --live-listener-arrow: --white;
    --comment-popover-bg: #323232;
    --percentage-match-color: rgba(255,255,255,.6);
    --live-claps-empty-screen-image: url(https://cdnweb.anghami.com/web/assets/img/spq/claps-empty-screen-dark.svg);
    --live-members-empty-screen-image: url(https://cdnweb.anghami.com/web/assets/img/spq/members-empty-screen-dark.svg);
    --live-queue-empty-screen-image: url(https://cdnweb.anghami.com/web/assets/img/spq/queue-empty-screen-dark.svg);
    --live-broadcaster-background: #131415;
    --live-broadcaster-container-background: #1B1C1D;
    --live-broadcaster-search-button: #404246;
    --live-dialog-circle-image: url(https://cdnweb.anghami.com/web/assets/img/spq/radio-dialog-image-border-dark.png);
    --live-radio-item-background: #2b2d2f;
    --live-radio-section-background: #1b1c1d;
    --live-radio-item-border: #2b2d2f;
    --live-radio-item-speakers-info-bg: #404246;
    --live-radio-valentine-item-background: #313336;
    --live-radio-valentine-item-button: #F2F3F5;
    --live-radio-leave-bg: #1b1c1d;
    --live-radio-leave-text: #ffffff;
    --live-radio-listener-follow-bg: #404246;
    --live-radio-listener-follow-text: #f2f3f5;
    --live-radio-kick-icon-bg: #414348;
    --live-radio-kick-icon: #ffffff;
    --live-radio-pinned-button-close: url(https://cdnweb.anghami.com/web/assets/img/spq/dismiss-pinned-message.png);
    --song-selector-song-item-background: #242627;
    --song-suggestion-item-background: #35373b;
    --song-suggestion-item-play-next: #5d6064;
    --live-badge-text-color: #a1a5ac;
    --user-sheet-text-color: #ffffff;
    --kick-text-color: #777a7e;
    --broadcaster-search-color: #a1a5ac;
    --broadcaster-search-color-bg: #404246;
    --broadcaster-queue-item-drag-shadow: 0px 0px 30px #00000062;
    --live-invite-btn-bg: #404246;
    --collection-header-btn: #f8f8f8;
    --collection-header-btn-bg: #404246;
    --collection-header-btn-bg-hover: #313336;
    --podcasts-description-text-color: #a1a5ac;
    --podcasts-section-details: #5d6064;
    --episode-type: #5d6064;
    --podcast-card-border: #313336;
    --podcast-card-bg: #2b2d2f;
    --podcast-card-title: #f2f3f5;
    --podcast-card-description: #a1a5ac;
    --podcast-card-icon-bg: #35373b;
    --podcast-card-icon-bg-hovered: #2b2d2f;
    --podcast-card-progress-bg: #777a7e;
    --list-item-secendary-text: #777a7e;
    --music-lang-tooltip-header: #ffffff;
    --music-lang-tooltip-text: #777a7e;
    --music-lang-tooltip-bg: #313336;
    --music-lang-tooltip-border: #404246;
    --main-scrollbar-fill: #474950;
    --siren-invitation-background: #3E4043;
    --siren-invitation-button-background: #E8E8E8;
    --siren-invitation-button-color: #272727;
    --siren-invitation-button-svg-filter: invert(1);
    --light-display-block: none;
    --dark-display-block: block;
    --live-radio-section-more-button-background: #5d6064;
    --carousel-arrow-bg: #35373b;
    --carousel-arrow-color: #FFFFFF;
    --carousel-arrow-border: 1px solid #5d6064;
    --vibes-container-bg: #35373b;
    --vibes-container-border: #5d6064;
    --vibes-container-text-color: #777a7e;
    --vibes-container-selected-bg: #e5e7ea;
    --vibes-container-selected-text-color: #1b1c1d;
    --card-item-border: #2b2d2f;
    --card-item-title-color: #f8f8f8;
    --card-item-subtitle-color: #a1a5ac;
    --search-bar-bg: #e5e7ea;
    --search-bar-text: #000000;
    --search-bar-border: 1px solid #777a7e;
    --banner-card-bg: #131415;
    --banner-card-bg-border: #f2f3f5;
    --link-card-background-color: #2b2d2f;
    --music-selector-color: #f8f8f8;
    --music-selector-bg: #35373b;
    --music-selector-border: 1px solid #35373b;
    --navbar-icon-color: #777a7e;
    --navbar-icon-color-selected: #f8f8f8;
    --search-bg: #e5e7ea;
    --search-border: #777a7e;
    --search-text-color: #1b1c1d;
    --search-header-text: #f8f8f8;
    --search-filter-text: #5d6064;
    --search-filter-text-active: #ffffff;
    --search-filter-text-hover: #a1a5ac;
    --search-filter-bg-active: #2b2d2f;
    --large-list-hover: #2b2d2f;
    --large-list-subtitle: #a1a5ac;
    --search-nav-title: #404246;
    --search-dropdown-bg: #131415;
    --search-dropdown-border: #2b2d2f;
    --search-seeAll-btn-bg: #313336;
    --search-seeAll-btn-bg-hover: #404246;
    --search-seeAll-text: #f8f8f8;
    --search-input-bg: #e5e7ea;
    --search-input-border: #777a7e;
    --search-input-text-color: #131415;
    --search-input-text-placeholder-color: #a1a5ac;
    --search-dropdown-header-color: #777a7e;
    --search-dropdown-header-hover-color: #a1a5ac;
    --list-more-versions-count: #ffffff;
    --list-more-versions-count-bg: #404246;
    --base-size: 1em;
    --scale: 1.2;
    --h5: calc(var(--base-size) * var(--scale));
    --h4: calc(var(--h5) * var(--scale));
    --h3: calc(var(--h4) * var(--scale));
    --h2: calc(var(--h3) * var(--scale));
    --h1: calc(var(--h2) * var(--scale));
    --h0: calc(var(--h1) * var(--scale));
    --small-text: calc(var(--base-size) / var(--scale));
    --nav-height: 4em;
    --vertical-nav-width: 8em;
    --player-height: 6em;
    --aside-width: 23em;
    --mymusic-menu-width: 20em;
    --collection-header-side-width: 18em;
    --ang-main-padding-top: 1em;
    --ang-main-padding-sides: 2.6087em;
    --page-title-margin-bottom: 3.2em;
    --large-list-item-padding: .8em;
    --brand-purple: #8d00f2;
    --brand-purple-light: #e1418c;
    --brand-blue: #018af0;
    --brand-blue-2: #4db2dd;
    --brand-cyan: #00FFFF;
    --dark-gray: #99a3a8;
    --login-background: #f5f5f5;
    --login-h-grey: #808080;
    --login-btn-small: #868686;
    --login-btn: #696969;
    --fb-light: #415da3;
    --fb-dark: #0457c9;
    --google-light: #4285f4;
    --google-dark: #3b7adf;
    --hd: #dae0e5;
    --black: #010101;
    --spotify: #1db954;
    --youtube: #ff0000;
    --disabled: #6c757d;
    --story-background: #191919;
    --hover-carousel-item: rgba(1, 1, 1, .4);
    --font-main-latin: "Euclid Circular A", sans-serif;
    --font-main-arabic: "Tajawal", sans-serif;
    --plus-badge-img: url(https://cdnweb.anghami.com/web/assets/img/logos/PLUS_BADGE.png);
    --gold-badge-img: url(https://cdnweb.anghami.com/web/assets/img/gold_badge.png);
    --gold-tick-icon: url(https://cdnweb.anghami.com/web/assets/img/gold.png);
    --song-claimer-badge: url(https://cdnweb.anghami.com/web/assets/img/song_claimer_badge.png);
    --white: #fff;
    --eid-page-blue: #280aa5;
    --eid-page-pink: #f7adce;
    --carousel-arrow-boxshadow: 0px 0px 6px #00000029;
    --section-margin-bottom: 3.5em;
    --section-title-margin-bottom: .9em;
    --carousel-side-margin: 2.6087em;
    --card-item-title-margin: 8px;
    --card-item-border-radius: 6px;
    --card-item-title-font-size: 1.15em;
    --card-item-title-font-weight: 700;
    --card-item-subtitle-font-size: .9em;
    --wide-card-padding: 1em;
    --link-card-super-title-color: #a1a5ac;
    --overlay-play-btn-bg: #ffffff;
    --shortcut-card-bg: #2b2d2f;
    --banner-card-border: 1px solid #35373b;
    --saerch-header-text: #1b1c1d;
    --blue: #007bff;
    --indigo: #6610f2;
    --purple: #6f42c1;
    --pink: #e83e8c;
    --red: #dc3545;
    --orange: #fd7e14;
    --yellow: #ffc107;
    --green: #28a745;
    --teal: #20c997;
    --cyan: #17a2b8;
    --white: #fff;
    --gray: #6c757d;
    --gray-dark: #343a40;
    --primary: #007bff;
    --secondary: #6c757d;
    --success: #28a745;
    --info: #17a2b8;
    --warning: #ffc107;
    --danger: #dc3545;
    --light: #f8f9fa;
    --dark: #343a40;
    --breakpoint-xs: 0;
    --breakpoint-sm: 576px;
    --breakpoint-md: 768px;
    --breakpoint-lg: 992px;
    --breakpoint-xl: 1200px;
    --font-family-sans-serif: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    --font-family-monospace: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
}